* {
    margin: 0;
    padding: 0;
}

body, input, button, select, option, textarea {
    font: menu;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.2;
}

body, a {
    cursor: default;
    overflow: hidden;
    outline: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-user-select: none;
}

body {
    color: white;
    text-align: right;
    text-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

a, img {
    -webkit-user-drag: none;
}

img {
    vertical-align: bottom;
}

/**
 * Modules
 */

#hud {
        list-style: none;
        float: right;
    }
    body > ul > li {
        margin: .5em 0;
}

#weather {
        margin: 0;
        font-size: .8em;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        opacity: 0;
        transition: .5s opacity;
    }
    #weather.show { opacity: 1 }
    #weather .wi {
        margin-right: 5px;
}

#clock {
    margin: 0;
    font-size: 5.5em;
}

#date {
    margin-top: 0;
    font-size: 1.75em;
}
