@import url('node_modules/weather-icons/css/weather-icons.css');

* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

body, input, button, select, option, textarea {
    font: menu;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.6;
}

body, a {
    cursor: default;
    overflow: hidden;
    outline: 0;
    -webkit-user-select: none;
}

body {
    color: white;
    text-align: right;
    text-shadow: 0 2px 15px rgba(0, 0, 0, .2);
}

a, img {
    -webkit-user-drag: none;
}

img {
    vertical-align: bottom;
}

/**
 * Modules
 */

#hud {
        list-style: none;
        float: right;
        margin-right: 30px;
        margin-top: 30px;
    }
    body > ul > li {
        margin: .5em 0;
        transition: .5s opacity;
}

#weather {
        margin: 0;
        font-size: .8em;
        font-weight: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    #weather .wi {
        margin-right: 5px;
}

#clock {
    margin: 0;
    font-size: 5.5em;
    line-height: 1.1;
}

#date {
    margin-top: 0;
    font-size: 1.75em;
    line-height: 1.1;
}

#greeter {
        opacity: 0;
    }
    #greeter.show {
        opacity: 1;
}

#system {
        font-size: .8em;
        text-transform: uppercase;
    }
    #system p {
        display: inline;
        margin-left: 1em;
}

#calendar {
        opacity: 0;
    }
    #calendar.show {
        opacity: 1;
}

#lunch {
        opacity: 0;
    }
    #lunch.show {
        opacity: 1;
    }
    #lunch strong {
        text-transform: uppercase;
        font-size: .8em;
}

#train {
        opacity: 0;
    }
    #train.show { 
        opacity: 1; 
    }
    #train p {
        transition: opacity .2s;
    }
    #train .fade {
        opacity: .7;
    }
    #train strong {
        padding: 0 5px;
        margin: 0 5px;
        background: white;
        color: #333;
        font-size: .9em;
        font-weight: bold;
        text-shadow: none;
        text-transform: uppercase;
}
